[submodule "April/SingleNumber"]
	path = April/SingleNumber
	url = https://github.com/dimitriedmr/LeetCodeSingleNumber.git
	branch = master
[submodule "April/HappyNumber"]
	path = April/HappyNumber
	url = https://github.com/dimitriedmr/LeetCodeHappyNumber.git
	branch = master
[submodule "April/Maximum-Subarray"]
	path = April/Maximum-Subarray
	url = C:/Users/panai/Desktop/repos/LeetCode-Challenges/April/Maximum-Subarray
	branch = master
