[submodule "April/SingleNumber"]
	path = April/SingleNumber
	url = https://github.com/dimitriedmr/LeetCodeSingleNumber.git
	branch = master
[submodule "April/HappyNumber"]
	path = April/HappyNumber
	url = https://github.com/dimitriedmr/LeetCodeHappyNumber.git
	branch = master
[submodule "April/MaximumSubarray"]
	path = April/MaximumSubarray
	url = https://github.com/dimitriedmr/LeetcodeMaximumSubarray.git
	branch = master
[submodule "April/MoveZeros"]
	path = April/MoveZeros
	url = https://github.com/dimitriedmr/LeetcodeMoveZeros.git
	branch = master
[submodule "April/GroupAnagrams"]
	path = April/GroupAnagrams
	url = https://github.com/dimitriedmr/LeetcodeGroupAnagrams.git
	branch = master
[submodule "April/BestTimetoBuyandSellStockII"]
	path = April/BestTimetoBuyandSellStockII
	url = https://github.com/dimitriedmr/LeetcodeBestTimetoBuyandSellStockII.git
	branch = master
